@tailwind base;

.logo:hover {
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@tailwind components;

@tailwind utilities;
